.todos-list {
  padding: 20px;
  margin: 20px 0 160px 0;
  background-color: rgb(255, 238, 205);
  border-radius: 10px;
}

.todos-list > ul {
  list-style: none;
}

.todos-body > li {
  margin: 5px 0;
}

.todo-row,
.division {
  display: flex;
}

.todo-title,
.todo-title-name {
  width: 50%;
}

.todo-progress,
.todo-progress-name {
  width: 30%;
  text-align: center;
}

.button-frame-name {
  width: 20%;
  text-align: center;
}

.button-frame {
  width: 10%;
}

.add-todo {
  position: fixed;
  bottom: 50px;
}

.modal-full {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.46);
}

.modal-frame {
  background-color: #fff;
  width: 40%;
  height: 30%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px;
}

.modal-frame h4 {
  margin: 10px;
}

.modal-title {
  margin: 16px 30px;
  font-size: 24px;
  font-weight: bold;
}

.modal-button {
  display: flex;
  margin: 40px 120px;
  justify-content: space-around;
}

.modal-button-frame {
  width: 40%;
}
